body{
    font-family: 'Major Mono Display', monospace;
}
button{    
    width: 100px;
    font-family: 'Major Mono Display', monospace;    
}
input{
    width: 200px;
    font-family: 'Major Mono Display', monospace;
}
h2{
    margin-bottom: 10px;
    margin-top: 50px;
}